.container {
    font-family: 'Inter' ,sans-serif;
}

.headerAssistencias {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: black;
}
.down {
    display: flex;
    justify-content: center;
    margin: 50px 0px 40px 0px;
}

.body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.block {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  12px 12px 24px #e8e8e8,-12px -12px 24px #ffffff;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.up{
    margin-top: 10px;
}

.icon1{
    width: 70%;
}
.icon2{
    width: 45%;
}
.icon3{
    width: 45%;
}
.icon4{
    width: 55%;
}

@media (min-width: 320px) and (max-width: 424px){
    
    .body {
        flex-direction: column;
    }

}

@media (min-width: 425px) and (max-width: 767px){

    .body {
        flex-direction: column;
    }

}

