.box-rm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
    font-family: sans-serif;
}
.box{
    margin: 30px;
}

.corpo{
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
}